<template>
  <div class="home">
    <div class="search-box">
      <input type="text" class="search-box__input" v-model="search"
             title="Search" placeholder="Search anything...">
    </div>
    <ContactList :contacts="filteredContacts" v-if="filteredContacts.length" />
    <button v-if="showLoadMoreButton" class="btn" @click="loadMoreContacts">Load more</button>
  </div>
</template>

<script>

import { debounce } from 'throttle-debounce';
import ContactList from '../components/ContactList.vue';

export default {
  data() {
    return {
      search: '',
      contacts: [],
      showLoadMoreButton: true,
    };
  },
  created() {
    this.loadMoreContacts();
  },
  methods: {
    getContacts({ limit = 20, query, offset } = {}) {
      return this.services.contact.get({ limit, query, offset });
    },
    /**
     * @param replace - to empty current contacts and replace with new contacts or not
     * @returns {Promise<void>}
     */
    async loadMoreContacts({ replace = false } = {}) {
      try {
        const params = {
          limit: 20,
          offset: replace ? undefined : this.filteredContacts.length,
          query: this.search,
        };
        const newContacts = await this.getContacts(params);

        if (replace) {
          this.contacts = newContacts;
        } else {
          // vue doesn't wrap .concat(), thus it cannot detect changes when concat is used
          this.contacts.push(...newContacts);
        }

        this.showLoadMoreButton = newContacts.length === params.limit;
      } catch (e) {
        console.error(e);
      }
    },
    stringContainsWords(string, words) {
      return words.filter(word => string.includes(word)).length === words.length;
    },
  },
  computed: {
    filteredContacts() {
      // filter on client-side as well, so it seems faster to the user
      // some search results are displayed even before the API request is made
      const words = this.search.trim().toLowerCase().split(' ');
      return this.contacts.filter(contact =>
        this.stringContainsWords(JSON.stringify(contact).toLowerCase(), words)
      );
    },
  },
  watch: {
    search: debounce(500, function () {
      this.loadMoreContacts({ replace: true });
    }),
  },
  name: 'home',
  components: {
    ContactList,
  },
};
</script>

<style lang="scss" scoped>
  .home {
    max-width: 800px;
    margin: 30px auto auto;
  }
  .search-box__input, .btn {
    height: 40px;
    border-radius: 2px;
    outline: none;
  }
  .search-box {
    width: 50%;
    margin: auto;
    &__input {
      width: 100%;
      padding: 20px 10px;
      border: 1px solid #ccc;
      transition: border-color 0.2s ease;
      &:focus, &:hover {
        border-color: #4dadef;
      }
    }
  }
  .btn {
    padding: 0 15px;
    margin: 15px auto;
    background: #4dadef;
    cursor: pointer;
    color: #fff;
    font-size: 0.875em;
    font-weight: 500;
    border: 1px solid #50a5ea;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #50a5ea;
    }
  }
  @media screen and (max-width: 600px) {
    .home {
      margin: 20px;
    }
    .search-box {
      width: 100%;
    }
  }
</style>
