<template>
  <div id="app">
    <Home />
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  box-sizing: border-box;
  *, *:after, *:before {
    box-sizing: border-box;
  }
}
body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
  font-size: inherit;
  &[type=text] {
    border-radius: 2px;
  }
}
li {
  list-style: none;
}
ul {
  padding: 0;
}

</style>

<script>
import Home from './views/Home.vue';

export default {
  components: { Home },
};
</script>
