<template>
  <div class="contact">
    <div :style="style" class="contact__image"></div>
    <span class="contact__data">{{contact.name}}</span>
    <span class="contact__data">{{contact.address}}</span>
    <span class="contact__data">
      <a :href="'tel:' + contact.phoneNumber">{{contact.phoneNumber}}</a>
    </span>
  </div>
</template>

<script>
import Contact from '../entities/contact';

export default {
  props: {
    contact: {
      type: [Contact, Object],
      required: true,
    },
  },
  computed: {
    style() {
      return {
        backgroundImage: `url("${this.contact.imageURL}")`,
      };
    },
  },
  name: 'Contact',
};
</script>

<style scoped lang="scss">
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 7px 0;
    height: 50px;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(251, 251, 251, 0.96);
    &__data {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      &:first-child {
        text-align: left;
      }
      a {
        color: #4dadef;
        text-decoration: none;
        transition: 0.2s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__image {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-size: cover;
      background-position: center;
    }
  }
  @media screen and (max-width: 600px) {
    .contact {
      min-height: 50px;
      height: auto;
      flex-wrap: wrap;
      position: relative;
      padding: 5px 15px 5px 70px;
      &__image {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
      }
    }
    .contact__data {
      flex-basis: 100%;
      margin: 2px 0;
    }
  }
</style>
