<template>
  <div class="container">
    <ul class="contacts-list">
      <li class="contacts-list__item" v-for="contact in contacts" :key="contact.id">
        <Contact :contact="contact" />
      </li>
    </ul>
  </div>
</template>

<script>

import Contact from './Contact.vue';

export default {
  components: { Contact },
  props: {
    contacts: {
      type: Array,
      required: true,
    },
  },
  name: 'ContactList',
};
</script>

<style scoped lang="scss">


</style>
